<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/home.css') }}">
</head>


<header>
  <h1> Friend Recommendations</h1>
</header>

<nav>
  <ul>
      <li><a href="/home/">Home</a></li>
    <li><a href="/logout/">Logout</a></li>
    <li><a href="/upload/">Create New Album</a></li>
    <li><a href="/edit/">Edit Album</a></li>
    <li><a href="{{ url_for('users')}}">All Users</a></li>
      <li><a href={{ url_for('recommend_friend') }}>Friend Recommendations</a></li>
       <li><a href={{ url_for('my_friends') }}>My Friends</a></li><br><br>
      <li><form id="top_tags" action="{{ url_for('search_tags') }}" method="POST" enctype="multipart/form-data">
          Top Tags :<select form="top_tags" name="search_tags">
              {% for i in tags %}
              <option value="{{ i[1] }}">{{ i[1] }}</option>
          {% endfor %}
          </select>
                  <input type="Submit" name="Submit" value="Display Tag">
                   </form></li>
        <li><a href="{{ url_for('top10') }}"> Top 10 Users</a> </li><br>
      <li><a href="{{ url_for('recommended_photos') }}"> Recommended Photos</a> </li>

  </ul>
</nav>

<article>
  <p>
    <form action="/search_tags/" method="POST" enctype="multipart/form-data">
    <label for="search">Search Tags (Seperated by space):</label>
    <input type="text" name="search_tags" maxlength="35" >
    <input type="Submit" name="Submit" value="Tags by all!">
      <input type="Submit" name="Submit" value="Tags by You!">
</form>
    <form action="/search_friends/" method="POST" enctype="multipart/form-data">
        <label for="search_friends">Search Friends(FirstName LastName):</label>
    <input type="text" name="search_friends" maxlength="35" >
    <input type="Submit" name="Submit_friends" value="Find">

    </form>
      <form action="/search_comment/" method="POST" enctype="multipart/form-data">
        <label for="search_comment">Search comment:</label>
    <input type="text" name="search_comment" maxlength="35" >
    <input type="Submit" name="Submit_search" value="Find">

    </form>



<div class="container">
<blockquote class="blockquote">
  <p class="mb-0">People you may know</p>
</blockquote>
<br><br>



<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Name </th>
        <th>Add</th>

    </tr>
  </thead>
  <tbody>
  <ul>
{% for j in data %}
    <tr>
                <th scope="row"><li></li></th>
    <td>{{ j[0][1]+" "+j[0][2] }}</td>
        <td><a href="{{url_for('add_friend', data=j[0][0]) }}"><button class="btn btn-success">Add Friend</button></a><br></td>
    </tr>
{% endfor %}
</ul>
  </tbody>
</table>

</div>

</article>
</body>
</html>